@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./images/image-hero-mobile.jpg');
    background-color: hsl(0, 100%, 100%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    padding: 1.75em 1.25em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.5em;
    z-index: 10;
}
.headerLogo,
.hamburgerMenu{
    z-index: 100;
}
nav{
    display: none;
    font-family: 'Commissioner';
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 322vh;
    background-color: rgba(0, 0, 0, 0.6);
}
nav ul{
    border-radius: .75em;
    left: 5%;
    top: 4%;
    position: absolute;
    list-style: none;
    background-color: white;
    height: 8%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav ul li{
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: 500;
}
nav ul li:nth-child(2){
    padding: 1em;
    border-top: 1px solid hsl(0,0%,90%);
    border-bottom: 1px solid hsl(0,0%,90%);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 90%;
    margin: 1em 0;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: 'Commissioner';
}
button.cyan{
    background-color: hsl(176, 50%, 47%);
    border: 0;
    border-radius: 2em;
    color: white;
    font-family: 'Commissioner';
    font-weight: 500;
    padding: 0em 3em;
    font-size: 1em;
}
button.bookmark{
    margin-left: 1em;
    background-color: transparent;
    border: 0;
}
.bookmark p{
    display: none;
}
#productPresentation{
    text-align: center;
    padding: 3em 1.5em 2.5em 1.5em;
}
#productPresentation #logo-mastercraft{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
#productPresentation h1{
    font-size: 1.35em;
    margin-bottom: .75em;
}
#productPresentation p{
    color: hsl(0, 0%, 48%);
    font-size: .9em;
    line-height: 1.5em;
}
#productPresentation .buttons{
    display: flex;
    margin-top: 2em;
}
#backDetails{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5em 1.5em;
}
#backDetails hr{
    width: 27.5%;
    margin:1.5em auto;
    
}
#backDetails .cashBacked,
#backDetails .totalBackers,
#backDetails .daysLeft{
    display: flex;
    flex-direction: column;
}
#backDetails .cashBacked strong,
#backDetails .totalBackers strong,
#backDetails .daysLeft strong{
    font-size: 2em;
    margin-bottom: .1em;
}
#backDetails .cashBacked small,
#backDetails .totalBackers small,
#backDetails .daysLeft small{
    color: hsl(0, 0%, 48%);
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .75em;
    margin-top: 2em;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2em;
}
progress[value]::-webkit-progress-value{
    background-color: hsl(176, 50%, 47%);
    border-radius: 2em;
}
#aboutAndPledge{
    padding: 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#aboutAndPledge h2{
    font-size: 1.25em;
    margin-bottom: 1.5em;
}
#aboutAndPledge p{
    color: hsl(0, 0%, 48%);
    font-size: .91em;
    line-height: 1.4em;
    margin-bottom: 1em;
}
#aboutAndPledge .pledge{
    margin-top: 1.5em;
    border: 1px solid hsl(0,0%,78%);
    border-radius: .75em;
    padding: 1.5em;
}
.pledge h3{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .5em;
}
.pledge span.howMuch{
    font-size: .95em;
    display: block;
    color: hsl(176, 50%, 47%);
    font-weight: 500;
    margin-bottom: 1.5em;
}
.pledge .left{
    margin: 1em 0;
    display: flex;
    align-items: center;    
}
.pledge .left{
    color: hsl(0, 0%, 48%);
}
.pledge .left strong{
    color: hsl(0, 0%, 0%);
    font-size: 2em;
    margin-right: .25em;
}
.pledge button.cyan{
    margin-top: .5em;
    padding: 1em 2em;
}
.pledge button.grey{
        background-color: hsl(0, 0%, 48%);
        border: 0;
        border-radius: 2em;
        color: white;
        font-family: 'Commissioner';
        font-weight: 500;
        padding: 1em 2em;
        font-size: 1em;
}
.pledge.outOfStock{
    opacity: .4;
}

.modalWrapper{
    font-family: 'Commissioner';
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 322vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}
.modal{
    position: absolute;
    top: 4%;
    left: 5%;
    padding: 2em 1.5em;
}
.modalHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.modalHeading h2{
    font-size: 1.2em;
}
.modal p{
    color: hsl(0, 0%, 48%);
    font-size: .9em;
    line-height: 1.5em;
}

.modalPledge{
    width: 100%;
    margin: 2em 0;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 2em;
}
.modalPledgeHeader{
    display: flex;
    margin-bottom: 2em;
    align-items: center;
}
.modalPledgeHeader input{
    width: 1.75em;
    margin-right: 1em;
}
.modalPledgeHeader h3{
    font-size: .95em;
}
.modalPledgeHeader span{
    color: hsl(176, 50%, 47%);
    font-size: .9em;
    margin-top: .75em;
}
.modalPledge p{
    margin-bottom: 1.5em;
}
.modalPledge.outOfOrder{
    opacity: .5;
}
.modalCheck {
    position: relative;
}
/* custom checkbox */
.modalCheck label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 0;
    top: 0;
}
.modalCheck label:after {
    content: "";
    opacity: 0;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(176, 50%, 47%);
    border-radius: 50%;
} 
.modalCheck input[type="checkbox"] {
    visibility: hidden;
}
.modalCheck input[type="checkbox"]:checked+label::after{
    opacity: 1;
}
/* section display after checking checkbox */
.enter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter hr{
    margin-top: 2em;
    width: 128%;
    opacity: .3;
    margin-bottom: 2em;
}
.enterInput{
    display: flex;
}
.enterInput input{
    text-align: center;
    margin-right: 1.5em;
    width: 50%;
    border-radius: 2em;
    border: 1px solid #ccc;
    font-weight: 700;
}
.enterInput input:hover{
    outline: none;
}
.enterInput button::before{
    content: '$';
    color: #ccc;
    position: absolute;
    top: 47.5%;
    left: -80%;
    transform: translate(-50%,-50%);
}
.enterInput button{
    position: relative;
    padding: .85em 1.5em;
}
.complete{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.complete img{
    width: 20%;
    margin-bottom: 1em;
}
.complete h2{
    font-size: 1.2em;
    margin-bottom: 1.25em;
}
.complete p{
    text-align: center;
    color: hsl(0, 0%, 48%);
    font-size: .9em;
    line-height: 1.75em;
    margin-bottom: 1.5em;
}
.complete button{
    padding: 1em 2em;
}

@media (min-width: 768px) {
    body {
            background-image: url('./images/image-hero-desktop.jpg');
        }
    header {
        width: 80%;
        display: flex;
        margin-bottom: 12em;
        margin-top: 1.5em;
        font-family: 'Commissioner';
    }
    .hamburgerMenu{
        display: none;
    }
    nav {
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    nav ul {
        border-radius: 0;
        left: 0;
        top: 0;
        position: relative;
        background-color: transparent;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;
    }
    nav ul li {
        padding-left: 2em;
        font-size: 1em;
        font-weight: 400;
    }
    nav ul li:nth-child(2) {
        padding: 0;
        padding-left: 2em;
        border-top: none;
        border-bottom: none;
    }  
        nav ul li:hover{
            cursor: pointer;
        }
    section {
        width: 50%;
    }  
    button.cyan{
        font-size: 1.1em;
    }
    button.cyan:hover{
        cursor: pointer;
        background-color: hsl(176, 72%, 28%);
    }
    button.bookmark {
        margin-left: auto;
        margin-right: 0;
        background-color: hsl(0,0%,95%);
        border: 0;
        border-radius: 2em;
        display: flex;
        align-items: center;
        padding: 0 1.5em 0 1em;
        font-size: 1.1em;
        color: hsl(0, 0%, 48%);
        font-weight: 700;
        font-family: 'Commissioner';
        cursor: pointer;
    }
    button.bookmark img{
        margin-right: 1em;
        margin-left: -1em;
    }
    .bookmark p{
        display: flex;
    }
    #productPresentation h1 {
        font-size: 1.5em;
        margin-bottom: .5em;
    }
    #productPresentation p {
        font-size: 1em;
    }
    #productPresentation .buttons {
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    #backDetails {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2.5em 2.5em;
    }
    .numbers{
        display: flex;
    }
    .numbers div{
        padding-left: 0;
        padding-right: 2em;
    }
    .numbers div:not(:first-child){
        border-left: 1px solid hsl(0,0%,78%);
        padding-left: 3em;
        padding-right: 6em;
    }
    #backDetails hr {
        display: none;
    }
    #backDetails .cashBacked,
    #backDetails .totalBackers,
    #backDetails .daysLeft {
        text-align: left;
    }
    #backDetails small{
        font-size: .95em;
    }
        #aboutAndPledge {
            padding: 2.5em 2.5em;
        }
    
        #aboutAndPledge p {
            font-size: 1em;
            line-height: 1.75em;
            margin-bottom: 1.5em;
        }
        #aboutAndPledge .pledge {
            padding: 2em;
        }
        .pledge-heading{
            display: flex;
            justify-content: space-between;
        }
        .pledge h3 {
            font-size: 1em;
            font-weight: 700;
            margin-bottom: .5em;
        }
        .pledge-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }    
        .pledge button.cyan,
        .pledge button.grey {
            padding: .5em 2em;
            height: 3em;
        }
                .modalWrapper {
                    height: 270vh;
                }
        
                .modal {
                    top: 7.75%;
                    left: 25%;
                    padding: 3.5em 3.5em;
                }
                .modalHeading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1.5em;
                }
                .modalHeading img{
                    margin-top: -4em;
                    margin-right: -1em;
                }
        
                .modalPledgeHeader {
                    display: flex;
                    margin-bottom: 2em;
                    align-items: center;
                }
        
                .modalPledgeHeader input {
                    width: 1.75em;
                    margin-right: 2em;
                }
                .checkText{
                    display: flex;
                    align-items: center;
                }
                .modalPledgeHeader h3 {
                    font-size: .95em;
                }
                .modalPledgeHeader h3:hover{
                    color: hsl(176, 50%, 47%);
                    cursor: pointer;
                }
                .modalPledgeHeader span {
                    margin-top: 0;
                    margin-left: 1em;
                }
                .modalPledge p {
                    margin-top: -1em;
                    margin-bottom: 0;
                    margin-left: 3.5em;
                }
        
                .modalCheck {
                    position: relative;
                }       
                .modal .left{
                    position: absolute;
                    top: 2em;
                    right: 5%;
                } 
                                .enter {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                
                                .enter hr {
                                    width: 112%;
                                }
                                .enterContent{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 100%;
                                }
                                .enterContent p {
                                    padding-top: 1em;
                                    width: 50%;
                                    text-align: left;
                                    margin-left: 0;
                                }
                                .enterInput {
                                    width: 50%;
                                    display: flex;
                                    justify-content: flex-end;
                                    margin-left: auto;
                                    margin-right: 0;
                                }
                
                                .enterInput input {
                                    height: 3.25em;
                                    width: 35%;
                                }
                
                
                                .enterInput button::before {
                                    left: -75%;
                                }
                
                                .enterInput button {
                                    height: 2.5em;
                                    padding: .5em 1.5em;
                                }
.complete {
    width: 37%;
    top: 19.5%;
    left: 31.5%;
    padding: 3em 2.5em;
}

.complete img {
    width: 17.5%;
    margin-bottom: 2em;
}

.complete h2 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.complete p {

    font-size: 1em;
    line-height: 1.75em;
    margin-bottom: 1.5em;
}

.complete button {
    font-size: .95em;
    padding: 1em 2em;
}

    }

